@mixin transition($duration: 0.5s) {
	-webkit-transition: all $duration cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all $duration cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin gradient($degree: 0deg) {
	background-image: linear-gradient(
		$degree,
		var(--linear-color-2),
		var(--linear-color-1)
	);
}

@mixin heading-1($size: 1.8rem) {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: $size;
}

@mixin heading-2($size: 1.5rem) {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: $size;
}

@mixin normal($size: 1rem) {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: $size;
}

@mixin flexbox($justify: start, $align: start, $direction: row) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}
